@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    left: 15vw;
    top: -5vh;
    padding: 20px;
    margin-top: 10px;
    max-width: 200px;
    max-height: 150px;
    border: 5px solid black;
    font-size: 11px;
    opacity: 0.9;
    
}

input.invalid {
    border: 2px solid rgb(165, 34, 34);
}

#password:invalid, #passwordcon:invalid {
    border: 2px solid rgb(219, 68, 68);
}

.error {
    color: red;
}

img {
    position: absolute;
    background-repeat: no-repeat;
    
}

.dog {
    position: absolute;
    z-index: 1;
    margin-left: -20vw;
    width: 60vw;
    height: 100%;
}

.odin {
    position: absolute;
    z-index: 10;
    height: 130px;
    top: 33vh;
    left: 12vw;
    
    
}

.odintext {
    position: absolute;
    z-index: 10;
    font-size: 80px;
    top: 36vh;
    left: 20vw;
    color: white;
    font-family: Norse;

}

.logo {
    background-color: rgb(56, 38, 38);
    opacity: 0.4;
    position: absolute;
    width: 40vw;
    height: 25vh;
    top: 30vh;
    left: 0vw;
    z-index: 1;
}



.block {
    position: relative;
    z-index: 10;
        
}

.thanks {
    position: relative;
    top: 50vh;
    left: 10vw;
    color: white;
    font-size: 10px;
    z-index: 10;
}

.login {
    position: relative;
    top: 45vh;
    left: 40vw;
    padding-left: 10px;
    margin-left: 15px;
    font-size: 15px;
}

button {
    margin-left: 20px;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

.container {
    position: absolute;
    top: 150%;
    left: 0%;
    padding-left: 10px;
}

form {
    position: relative;
    top: 25vh;
    left: 40vw;
    display: flex;
    width: 550px;
    height: 150px;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
    font-size: 10px;
    letter-spacing: 1px;
    gap: 30px;
    
}

form::before, form::after {
    content: '';
    position: absolute;
    left: 0;
    width: 1000px;
    
}

form::before {
    top: -20px;
    height: 1px;
    background-color: rgba(134, 127, 127, 0.274);
}

form::after {
    top: 180px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.295);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.452);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.signtext {
    position: relative;
    top: 15vh;
    left: 40vw;
    display: flex;
    justify-content: flex-start;
    max-width: 500px;
    padding-left: 30px;
    font-weight: 800;
    
}

.signtext::before {
    content: "";
    position: absolute;
    top: -300%;
    left: 0;
    right: 0;
    bottom: 100%;
    
}

.login::before {
    content: "";
    position: absolute;
    top: -170%;
    left: 0;
    right: 0;
    bottom: 100%;
    
}




